function Graphics.drawEmptyRect 0
push argument 0
push argument 1
push argument 0
push argument 3
call Screen.drawRectangle 4
pop temp 0
push argument 0
push argument 1
push argument 2
push argument 1
call Screen.drawRectangle 4
pop temp 0
push argument 0
push argument 3
push argument 2
push argument 3
call Screen.drawRectangle 4
pop temp 0
push argument 2
push argument 1
push argument 2
push argument 3
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Graphics.drawCar 0
push argument 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 3
not
call Screen.setColor 1
pop temp 0
push argument 0
push constant 40
add
push argument 1
push constant 11
add
push argument 0
push constant 40
add
push argument 1
push constant 29
add
call Screen.drawLine 4
pop temp 0
push argument 3
call Screen.setColor 1
pop temp 0
push argument 0
push constant 10
add
push argument 1
push constant 10
add
push argument 0
push constant 70
add
push argument 1
push constant 30
add
call Graphics.drawEmptyRect 4
pop temp 0
push argument 0
push constant 25
add
push argument 1
push constant 15
add
push argument 0
push constant 50
add
push argument 1
push constant 25
add
call Graphics.drawEmptyRect 4
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 3
not
call Screen.setColor 1
pop temp 0
push argument 0
push constant 11
add
push argument 1
push constant 40
add
push argument 0
push constant 29
add
push argument 1
push constant 40
add
call Screen.drawLine 4
pop temp 0
push argument 3
call Screen.setColor 1
pop temp 0
push argument 0
push constant 10
add
push argument 1
push constant 10
add
push argument 0
push constant 30
add
push argument 1
push constant 70
add
call Graphics.drawEmptyRect 4
pop temp 0
push argument 0
push constant 15
add
push argument 1
push constant 25
add
push argument 0
push constant 25
add
push argument 1
push constant 50
add
call Graphics.drawEmptyRect 4
pop temp 0
label IF_END0
push constant 0
return
function Graphics.drawTruck 0
push argument 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
goto IF_END0
label IF_FALSE0
label IF_END0
push constant 0
return
function Graphics.drawRedCar 0
push constant 0
return
function Graphics.drawArrowCursor 2
push argument 4
not
call Screen.setColor 1
pop temp 0
push argument 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 20
add
pop local 1
push argument 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
push constant 2
add
pop local 0
push local 0
push local 1
push local 0
push constant 6
add
push local 1
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
push local 0
push constant 3
add
push local 1
push constant 3
sub
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
push local 0
push constant 3
add
push local 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
goto IF_END1
label IF_FALSE1
push argument 0
push constant 38
add
pop local 0
push local 0
push local 1
push local 0
push constant 6
sub
push local 1
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
push local 0
push constant 3
sub
push local 1
push constant 3
sub
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
push local 0
push constant 3
sub
push local 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
label IF_END1
goto IF_END0
label IF_FALSE0
push argument 0
push constant 20
add
pop local 0
push argument 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push constant 2
add
pop local 1
push local 0
push local 1
push local 0
push local 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
push local 0
push constant 3
sub
push local 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
push local 0
push constant 3
add
push local 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
goto IF_END2
label IF_FALSE2
push argument 1
push constant 38
add
pop local 1
push local 0
push local 1
push local 0
push local 1
push constant 6
sub
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
push local 0
push constant 3
sub
push local 1
push constant 3
sub
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
push local 0
push constant 3
add
push local 1
push constant 3
sub
call Screen.drawLine 4
pop temp 0
label IF_END2
label IF_END0
push constant 0
return
function Graphics.drawCrossHairs 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push constant 1
add
push argument 1
push constant 1
add
push argument 0
push constant 1
add
push argument 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 2
add
push argument 1
push constant 1
add
push argument 0
push constant 5
add
push argument 1
push constant 1
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 39
add
push argument 1
push constant 1
add
push argument 0
push constant 35
add
push argument 1
push constant 1
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 39
add
push argument 1
push constant 1
add
push argument 0
push constant 39
add
push argument 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 1
add
push argument 1
push constant 35
add
push argument 0
push constant 1
add
push argument 1
push constant 39
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 1
add
push argument 1
push constant 39
add
push argument 0
push constant 5
add
push argument 1
push constant 39
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 39
add
push argument 1
push constant 35
add
push argument 0
push constant 39
add
push argument 1
push constant 39
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 35
add
push argument 1
push constant 39
add
push argument 0
push constant 39
add
push argument 1
push constant 39
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
