function Main.main 1
// new statement **********
call SquareGame.new 0
pop local 0
// new statement **********
push local 0
call SquareGame.run 1
pop temp 0
// new statement **********
push local 0
call SquareGame.dispose 1
pop temp 0
// new statement **********
push constant 0
return
