function Shcortz.new 7
push constant 5
call Memory.alloc 1
pop pointer 0
call Terrain.new 0
pop this 0
push constant 7
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 90
call String.appendChar 2
pop local 1
push local 1
call Output.printString 1
pop temp 0
push local 1
call String.dispose 1
pop temp 0
push constant 13
push constant 19
call Output.moveCursor 2
pop temp 0
push constant 26
call String.new 1
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
pop local 1
push local 1
call Output.printString 1
pop temp 0
push local 1
call String.dispose 1
pop temp 0
push constant 17
push constant 18
call Output.moveCursor 2
pop temp 0
push constant 30
call String.new 1
push constant 77
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
pop local 1
push local 1
call Output.printString 1
pop temp 0
push local 1
call String.dispose 1
pop temp 0
push constant 22
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 1
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push this 0
push local 1
call Keyboard.readInt 1
call Terrain.seed 2
pop temp 0
push local 1
call String.dispose 1
pop temp 0
push constant 44
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 2
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push local 2
call Output.printString 1
pop temp 0
push constant 24
call String.new 1
push constant 72
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 56
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 63
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 1
push constant 0
pop this 2
label 0
push this 2
push constant 2
lt
push this 2
push constant 8
gt
or
not
if-goto 1
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push local 1
call Keyboard.readInt 1
pop this 2
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push local 2
call Output.printString 1
pop temp 0
goto 0
label 1
push this 2
pop this 4
push local 1
call String.dispose 1
pop temp 0
push constant 512
push this 2
call Math.divide 2
pop local 5
push this 2
call Array.new 1
pop this 1
push constant 21
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 1
push this 2
pop local 3
label 2
push local 3
push constant 0
gt
not
if-goto 3
push local 5
pop local 4
label 4
push local 4
push local 5
lt
not
not
if-goto 5
push this 0
call Terrain.pickValue 1
pop local 4
push constant 1
push local 3
sub
call Math.abs 1
push local 5
call Math.multiply 2
push local 4
add
pop local 6
push local 6
push constant 10
lt
push local 6
push constant 502
gt
or
not
if-goto 6
push local 5
pop local 4
goto 7
label 6
label 7
goto 4
label 5
push local 3
push constant 1
sub
pop local 3
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push local 1
call Keyboard.readLine 1
pop local 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push local 2
call Output.printString 1
pop temp 0
push this 1
push local 3
add
push local 0
push local 6
push constant 0
call Tank.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 2
label 3
push local 1
call String.dispose 1
pop temp 0
push local 2
call String.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
return
function Shcortz.dispose 0
push argument 0
pop pointer 0
label 8
push this 2
push constant 0
gt
not
if-goto 9
push this 1
push this 2
push constant 1
sub
add
pop pointer 1
push that 0
pop this 3
push this 3
call Tank.dispose 1
pop temp 0
push this 2
push constant 1
sub
pop this 2
goto 8
label 9
push this 0
call Terrain.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Shcortz.update 5
push argument 0
pop pointer 0
push this 2
push constant 0
gt
not
not
if-goto 10
push constant 0
return
goto 11
label 10
label 11
push this 2
pop local 0
label 12
push local 0
push constant 0
gt
not
if-goto 13
push this 1
push local 0
push constant 1
sub
add
pop pointer 1
push that 0
pop local 4
push local 4
call Tank.alive 1
not
if-goto 14
push local 4
call Tank.draw 1
pop temp 0
push local 4
call Tank.getX 1
pop local 3
push argument 1
push local 3
sub
call Math.abs 1
pop local 1
push local 1
push argument 2
push constant 5
add
lt
not
if-goto 16
push local 4
push argument 2
push constant 5
add
push local 1
sub
push this 0
push local 3
call Terrain.getHeight 2
call Tank.update 3
pop local 2
push local 2
push constant 0
lt
not
if-goto 18
push this 0
push local 3
push constant 9
call Terrain.explosion 3
pop temp 0
push local 4
push constant 0
call Tank.lifeAndDeath 2
pop temp 0
push this 4
push constant 1
sub
pop this 4
push local 4
call Tank.erase 1
pop temp 0
goto 19
label 18
label 19
goto 17
label 16
label 17
goto 15
label 14
label 15
push local 0
push constant 1
sub
pop local 0
goto 12
label 13
push constant 0
return
function Shcortz.run 9
push argument 0
pop pointer 0
push this 0
call Terrain.initTerrain 1
pop temp 0
push this 2
pop local 5
label 20
push local 5
push constant 0
gt
not
if-goto 21
push this 1
push local 5
push constant 1
sub
add
pop pointer 1
push that 0
pop this 3
push this 3
push this 0
push this 3
call Tank.getX 1
call Terrain.getHeight 2
call Tank.setY 2
pop temp 0
push this 3
call Tank.draw 1
pop temp 0
push local 5
push constant 1
sub
pop local 5
goto 20
label 21
push constant 1
pop local 3
push this 2
pop local 5
push constant 0
pop local 1
push constant 13
call String.new 1
push constant 66
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 8
push constant 22
push constant 50
call Output.moveCursor 2
pop temp 0
push local 8
call Output.printString 1
pop temp 0
push local 8
call String.dispose 1
pop temp 0
push this 1
push local 5
push constant 1
sub
add
pop pointer 1
push that 0
pop this 3
push this 3
call Tank.myTurn 1
pop temp 0
label 22
push local 1
not
not
if-goto 23
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 81
eq
not
if-goto 24
push constant 0
not
pop local 1
call Screen.clearScreen 0
pop temp 0
goto 25
label 24
label 25
push local 0
push constant 32
eq
not
if-goto 26
push this 3
push local 3
push constant 3
call Math.multiply 2
call Tank.shoot 2
pop local 7
push constant 0
pop local 2
label 28
push local 2
not
not
if-goto 29
push this 0
push local 7
call Bullet.getX 1
push local 7
call Bullet.getY 1
push local 7
call Bullet.getNextX 1
push local 7
call Bullet.getNextY 1
call Terrain.collides 5
pop local 4
push local 4
push constant 0
lt
not
not
if-goto 30
push constant 0
not
pop local 2
goto 31
label 30
label 31
push local 2
not
push local 7
call Bullet.valid 1
and
not
if-goto 32
push local 7
call Bullet.tock 1
pop temp 0
goto 33
label 32
push constant 0
not
pop local 2
label 33
goto 28
label 29
push local 7
call Bullet.valid 1
not
if-goto 34
push local 7
call Bullet.erase 1
pop temp 0
push this 0
push local 4
push local 3
push constant 3
call Math.multiply 2
call Terrain.explosion 3
pop temp 0
goto 35
label 34
label 35
push pointer 0
push local 4
push local 3
push constant 3
call Math.multiply 2
call Shcortz.update 3
pop temp 0
push local 7
call Bullet.dispose 1
pop temp 0
push this 3
call Tank.endTurn 1
pop temp 0
push this 4
pop local 6
label 36
push local 6
push constant 1
gt
not
if-goto 37
push local 5
push constant 1
eq
not
if-goto 38
push this 2
pop local 5
goto 39
label 38
push local 5
push constant 1
sub
pop local 5
label 39
push this 1
push local 5
push constant 1
sub
add
pop pointer 1
push that 0
pop this 3
push this 3
call Tank.alive 1
not
if-goto 40
push this 3
call Tank.myTurn 1
pop temp 0
push constant 0
pop local 6
goto 41
label 40
label 41
goto 36
label 37
push this 4
push constant 2
lt
not
if-goto 42
call Screen.clearScreen 0
pop temp 0
push constant 7
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 84
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 68
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
goto 43
label 42
label 43
goto 27
label 26
label 27
push local 0
push constant 49
eq
not
if-goto 44
push constant 1
pop local 3
goto 45
label 44
label 45
push local 0
push constant 50
eq
not
if-goto 46
push constant 2
pop local 3
goto 47
label 46
label 47
push local 0
push constant 51
eq
not
if-goto 48
push constant 3
pop local 3
goto 49
label 48
label 49
push local 0
push constant 52
eq
not
if-goto 50
push constant 4
pop local 3
goto 51
label 50
label 51
push local 0
push constant 53
eq
not
if-goto 52
push constant 5
pop local 3
goto 53
label 52
label 53
push local 0
push constant 131
eq
not
if-goto 54
push this 3
call Tank.powerUp 1
pop temp 0
goto 55
label 54
label 55
push local 0
push constant 133
eq
not
if-goto 56
push this 3
call Tank.powerDown 1
pop temp 0
goto 57
label 56
label 57
push local 0
push constant 130
eq
not
if-goto 58
push this 3
call Tank.aimLeft 1
pop temp 0
goto 59
label 58
label 59
push local 0
push constant 132
eq
not
if-goto 60
push this 3
call Tank.aimRight 1
pop temp 0
goto 61
label 60
label 61
push constant 22
push constant 62
call Output.moveCursor 2
pop temp 0
push local 3
call Output.printInt 1
pop temp 0
goto 22
label 23
push constant 0
return
